.square
{
    width: 250px;
    height: 250px;
    background-color: burlywood;
}

html,body
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}